
.news-title {
    font-size: 30px;
    color: #00004F;
    text-align: center;
    margin-top: 2%;
}

.author-info {
    text-align: justify;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.author-info-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-info-author {
    width: 90% ;
}