.news-category {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.news-category h2 {
    margin-bottom: 2%;
}

.tag-link {
    text-decoration: none;
    color: inherit;
}

.tag-link:hover {
    text-decoration: underline;
}

.news-item {
    display: flex;
}

.title-link {
    text-decoration: none;
    color: inherit;
}

.title-link:hover {
    text-decoration: underline;
}

.news-item img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

.news-content {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #00004F;
    margin-top: 10px;
    margin-left: 1rem;
}

.news-content h3 {
    font-size: 24px;
    margin: 0;
}

.news-time {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}


.news-time > img {
    width: 5%;
    height: auto;
    margin-right: .4rem;
}

.news-time span {
    font-size: 0.8rem;
    color: #666;
}

@media screen and (max-width: 1440px) {
    .news-content h3 {
        font-size: 18px;
        margin: 0;
    }
}

@media screen and (max-width: 1025px) {
    .news-content h3 {
        font-size: 14px;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .news-content h3 {
        font-size: 14px;
        margin: 0;
    }
}