.content-of-the-subject{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    text-align: justify;
}

.author-info {
    text-align: justify;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.article {
    font-size: 25px;
}

.news-title {
    font-size: 30px;
    color: #00004F;
    text-align: center;
    margin-top: 2%;
}

.author-info-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-info-author {
    width: 90% ;
}

.content-of-the-subject {
    display: flex;
    justify-content: center;
}

.container-div {
    width: 90%;
    display: flex;
}

.image-container {
    margin-right: 2%;
}

.caption {
    font-size: 15px;
}

.text-container-body {
    width: 90%;
}

.text-container-com-titulo {
    margin-top: 2%;
}

.article-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.div-container-maislidas {
    width: 90%;
}

.text-mais-lidas {
    font-size: 60px;
    margin-bottom: 2%;
    font-weight: bolder;
}
.numbers-mais-lidas {
    display: flex;
}

.container-div {
    display: flex;
}

.container-number {
    display: flex;
    width: 500px;
}

.container-number p {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 5%;
    color: #00004F;
}

